.top-header {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1030;
}

.navbar {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  /* background: transparent; */
  border-bottom: 1px solid rgba(71, 60, 60, 1) !important;
  z-index: 1030;
  transition: background 0.3s ease, height 0.3s ease;
}

.navbar.fixed-top {
  top: 0 !important;
}

.navbar.nav-link {
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar.nav-link:hover {
  color: #ffc107; /* Bootstrap warning yellow */
}

.navbar .btn-outline-warning {
  border-radius: 20px;
  font-weight: 600;
}
