.reservation-section {
  position: relative;
  padding: 30px;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  object-fit: cover;
  object-position: 50% 50%;
  height: 100vh;
}

.reservation-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* max-width: 1100px; */
  margin: 0 auto;
  z-index: 2;
  position: relative;
}
.reservation-form {
  padding: 5.5rem 1rem;
  transition: transform 0.6s ease, opacity 0.6s ease;
  opacity: 0;
  transform: translateY(50px);
}

/* Left: Reserve Table (Golden) */
.book-table {
  background: linear-gradient(135deg, #ffd700, #daa520);
  color: #222; /* dark text for contrast */
}

/* Right: Order Online (White) */
.online-order {
  background: #fff;
  color: #222;
  border: 1px solid #eee;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.reservation-form.in-view {
  opacity: 1;
  transform: translateY(0);
}

.reservation-form h2 {
  margin-bottom: 15px;
  font-size: 2rem;
}

.reservation-form h5 {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #ffc107;
}

.reservation-form .form-control {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.reservation-form .btn {
  padding: 12px 25px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  border: none;
}
