.App {
  text-align: center;
  font-size: 18px;
  font-family: "Playfair Display", serif;
  /* background-color: #121212; */
  background: #fff;
  /* background-color: #f0f0f0; */
  color: #f5f5f5; /* light text */
}

.bg-yellow {
  background: linear-gradient(135deg, #ffd700, #daa520) !important;
  /* background: linear-gradient(135deg, #D4AF37, #B8860B); */
  color: #212529 !important; /* Dark text for contrast */
  border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
  box-shadow: #fff 0px 2px 4px -1px;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem;
}

h1,
h2,
h3 {
  font-family: "Cinzel", serif;
  color: #e63946; /* deep wine red */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

footer {
  border-top: 1px solid rgba(71, 60, 60, 1) !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Animations */
.animate-fade {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Left arrow animations */
.fade-in-left {
  animation: fadeInLeft 0.5s forwards;
}
.fade-out-left {
  animation: fadeOutLeft 0.5s forwards;
}

/* Right arrow animations */
.fade-in-right {
  animation: fadeInRight 0.5s forwards;
}
.fade-out-right {
  animation: fadeOutRight 0.5s forwards;
}


/* Keyframes */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate(-30px, -50%);
  }
  to {
    opacity: 1;
    transform: translate(0, -50%);
  }
}
@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translate(0, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-30px, -50%);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate(30px, -50%);
  }
  to {
    opacity: 1;
    transform: translate(0, -50%);
  }
}
@keyframes fadeOutRight {
  from {
    opacity: 1;
    transform: translate(0, -50%);
  }
  to {
    opacity: 0;
    transform: translate(30px, -50%);
  }
}


